/*//Commercial_manually*/
#Soteria
{
   background-image:url('../pic/Soteria-logo.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;  
}			
        
#Breslev
{
   background-image:url('../pic/NachmanLogo.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;  
}			

#ShifonPlus
{
   background-image:url('../pic/ShifonPlus.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#IDF
{
   background-image:url('../pic/IDF.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#NewDeli
{
   background-image:url('../pic/NewDeli.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}  

#Opticana
{
   background-image:url('../pic/Opticana.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}  

#Velvel
{
   background-image:url('../pic/Velel.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#Mispara
{
   background-image:url('../pic/Mispara.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#JacobsCoffee
{
   background-image:url('../pic/JacobsCoffee.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}

#NesCafe
{
   background-image:url('../pic/NesCafe.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}


#CoffeeBilig
{
   background-image:url('../pic/CoffeeBilig.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}

#HebrewCommercial
{
   background-image:url('../pic/HebrewCommercial.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;  
}

#DJ_Gilad
{
   background-image:url('../pic/DJ_Gilad.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;  	
}

#Eat_01
{
   background-image:url('../pic/Eat_01.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Drink_01
{
   background-image:url('../pic/Drink_01.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Eat_02
{
   background-image:url('../pic/Eat_02.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Drink_02
{
   background-image:url('../pic/Drink_02.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Eat_03
{
   background-image:url('../pic/Eat_03.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Drink_03
{
   background-image:url('../pic/Drink_03.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Eat_04
{
   background-image:url('../pic/Eat_04.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Drink_04
{
   background-image:url('../pic/Drink_04.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Eat_05
{
   background-image:url('../pic/Eat_05.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Drink_05
{
   background-image:url('../pic/Drink_05.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Eat_06
{
   background-image:url('../pic/Eat_06.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Drink_06
{
   background-image:url('../pic/Drink_06.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Eat_07
{
   background-image:url('../pic/Eat_07.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
#Drink_07
{
   background-image:url('../pic/Drink_07.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}
