/*//Commercial_manually*/
#Soteria
{
   background-image:url('https://JClock.net/pic/Soteria-logo.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;  
}			
        
#Breslev
{
   background-image:url('https://JClock.net/pic/NachmanLogo.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;  
}			

#ShifonPlus
{
   background-image:url('https://JClock.net/pic/ShifonPlus.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#IDF
{
   background-image:url('https://JClock.net/pic/IDF.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#NewDeli
{
   background-image:url('https://JClock.net/pic/NewDeli.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}  

#Opticana
{
   background-image:url('https://JClock.net/pic/Opticana.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}  

#Velvel
{
   background-image:url('https://JClock.net/pic/Velel.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#Mispara
{
   background-image:url('https://JClock.net/pic/Mispara.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#JacobsCoffee
{
   background-image:url('https://JClock.net/pic/JacobsCoffee.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}

#NesCafe
{
   background-image:url('https://JClock.net/pic/NesCafe.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}


#CoffeeBilig
{
   background-image:url('https://JClock.net/pic/CoffeeBilig.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}


