/*//Commercial_manually*/
#Soteria
{
   background-image:url('../pic/Soteria-logo.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;  
}			
        
#Breslev
{
   background-image:url('../pic/NachmanLogo.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;  
}			

#LechemMoshe
{
   background-image:url('../pic/LechemMoshe.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:222px;
}


#ShifonPlus
{
   background-image:url('../pic/ShifonPlus.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#IDF
{
   background-image:url('../pic/IDF.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#NewDeli
{
   background-image:url('../pic/NewDeli.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}  

#Opticana
{
   background-image:url('../pic/Opticana.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}  

#Velvel
{
   background-image:url('../pic/Velel.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#Mispara
{
   background-image:url('../pic/Mispara.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:200px;   
}

#JacobsCoffee
{
   background-image:url('../pic/JacobsCoffee.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}

#NesCafe
{
   background-image:url('../pic/NesCafe.png');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}


#CoffeeBilig
{
   background-image:url('../pic/CoffeeBilig.jpg');
   background-repeat:no-repeat;
   background-position:center;  
   width:850px; 
   height:400px;   
}


